{% if page %}
    {% if hide_search %}
        <div class="row mt-3 round bg-white border"
            hx-post="{% url 'layout-search-results-partial' %}?page={{page}}"
            hx-trigger="revealed"
            hx-swap="afterend"
            hx-include="#main_search_form">
    {% else %}
        <div class="row mt-3 round bg-white border"
            hx-post="{% url 'layout-search-box-results' %}?page={{page}}"
            hx-trigger="revealed"
            hx-swap="afterend"
            hx-include="#search-form_{{ request.user.member.id }}_{{ family_member.id }}">
    {% endif %}
{% else %}
    <div class="row mt-3 round bg-white border">
{% endif %}
    <div class="col-md-2 d-flex align-items-center justify-content-center"
         role="button"
         hx-target=".main-content"
         hx-swap="innerHTML"
         hx-trigger="click[window.location.pathname != '{% url "provider-profile" provider.slug %}']"
         hx-on::after-request="scrollToTop()"
         hx-push-url="true"
         hx-get="{% url 'provider-profile' provider.slug %}"
         onclick="scrollToTop()">
        <img class="item-row-icon border-orange p-01 user-select-none"
             src="{{ provider.image_url }}"/>
    </div>
    <div class="col-md-2 fw-bold d-flex align-items-center justify-content-center justify-content-md-start text-center"
         role="button"
         hx-target=".main-content"
         hx-swap="innerHTML"
         hx-trigger="click[window.location.pathname != '{% url "provider-profile" provider.slug %}']"
         hx-on::after-request="scrollToTop()"
         hx-push-url="true"
         hx-get="{% url 'provider-profile' provider.slug %}"
         onclick="scrollToTop()">
        {{ provider.name }}
    </div>
    <div class="col-md-6 text-muted small pt-2 pt-md-0 two-columns">
        {{ provider.description }}
    </div>

    <div class="col-md-2 row gap-0 small pt-2 pt-md-0">
        <div class="col-3 w-25 d-flex flex-column flex-wrap justify-content-center align-items-center">
            {% for provider_category in provider.get_categories %}
                <span class="badge bg-{{ provider_category.get_color }} m-1"
                        role="button"
                        hx-target=".main-content"
                        hx-swap="innerHTML"
                        hx-trigger="click[window.location.pathname != '{% url "category-detail" provider_category.slug %}']"
                        hx-on::after-request="scrollToTop()"
                        hx-push-url="true"
                        hx-get="{% url 'category-detail' provider_category.slug %}"
                        onclick="scrollToTop()">
                    {{ provider_category.name }}
                </span>
            {% endfor %}
        </div>
    </div>
</div>