{% extends request.base_template %}
{% load static %}
{% block content %}
<div class="container">
    <div class="d-md-flex gap-4">
        <div class="d-flex justify-content-md-start justify-content-center align-items-start pb-2 pb-md-0">
            <!-- <img class="profile-image orange user-select-none" role="button" src="{{ provider.image }}"/> -->
            {% url 'provider-image-update' as endpoint %}
            {% include 'layout/partials/image_selector.html' with endpoint=endpoint source_image=provider.image_url %}
        </div>
        <div class="d-flex flex-row justify-content-between w-100">
            <div class="d-flex flex-column w-100">
                <div class="align-self-center align-self-md-start align-items-center gap-2 w-100 d-flex flex-column flex-xxl-row flex-nowrap justify-content-between">
                    <div class="d-flex order-1 flex-column flex-md-row">
                        {% include 'layout/partials/field_edit.html' with model='provider' item=provider form=provider.get_name_form %}
                        {% include 'layout/partials/field_edit.html' with model='provider' item=provider form=provider.get_url_form %}
                        {% include 'layout/partials/field_edit.html' with model='provider' item=provider form=provider.get_phone_form %}
                        {% include 'layout/partials/field_edit.html' with model='provider' item=provider form=provider.get_email_form %}
                    </div>
                    <div class="fs-6 d-flex flex-row justify-content-end align-items-center order-0 order-xxl-2 user-select-none" role="button" hx-target=".main-content"
                        hx-trigger="click[window.location.pathname != '{% url 'provider-profile' provider.slug %}']"
                        hx-on::after-request="scrollToTop()" hx-push-url="true"
                        hx-get="{% url 'provider-profile' provider.slug %}" onclick="scrollToTop()">
                        <img class="orange-filter" height="24px" width="24px" src="{% static 'layout/box-arrow-left.svg' %}" />
                        <span class="fw-bold orange">&nbsp;Exit edit mode</span>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-between h-100">
                    <div id="provider-description-form-container">
                        {% include 'layout/partials/field_edit.html' with model='provider' item=provider form=provider.get_description_form %}
                    </div>
                    <div class="mt-md-auto mt-3 mb-1 align-self-center align-self-md-start d-flex">
                        {% for provider_category in provider.get_categories %}
                            <span class="category-badge badge bg-{{ provider_category.get_color }} m-1"
                                    role="button"
                                    hx-target=".main-content"
                                    hx-trigger="click[window.location.pathname != '{% url "category-detail" provider_category.slug %}']"
                                    hx-on::after-request="scrollToTop()"
                                    hx-push-url="true"
                                    hx-get="{% url 'category-detail' provider_category.slug %}"
                                    onclick="scrollToTop()">
                                {{ provider_category.name }}
                            </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr my-4" />
    <div hx-get="{% url 'activity-provider-edit-list' %}"
         hx-trigger="reload-activity-list from:body">
        {% include "layout/search_box.html" with items=provider.get_activities edit=1 stage='provider_dashboard' model='activity' title='Provider Activities' %}
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center p-2">
        {% if provider.is_active %}
            <button class="btn green-hover"
                    data-bs-toggle="modal" 
                    data-bs-target="#modal_global"
                    hx-get="{% url 'activity-create' %}"
                    hx-trigger="click"
                    hx-target="#modal_global">
                Create Activity
            </button>
        {% else %}
            <div>
                <div class="alert alert-warning rounded" role="alert">
                    Your provider account is not active. Please <a class="rounded orange-hover text-decoration-none p-1" role="button" hx-target=".main-content" hx-trigger="click[window.location.pathname != '/']" hx-on::after-request="scrollToElementId('contact')" hx-push-url="true" hx-get="/#contact" href="/#contact" onclick="scrollToElementId('contact')">Contact Us</a> to activate your account and start creating activities.
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}