<form class="px-0 pb-2 small {{ extra_classes }}"
      onsubmit="event.preventDefault();"
      id="{{model}}_{{item.pk}}-{{form.visible_fields.0.name}}">
    {% csrf_token %}

    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    
    {% for field in form.visible_fields %}
        {% if field.field.widget.attrs.class == 'form-check-input form-control w-25 ms-auto' %}
            <div class="form-floating px-1">
                {{field}}
                <label class="d-flex justify-content-start w-75" for="{{item.pk}}-{{field.name}}">
                    <span>{{field.label}} </span>
                    <div id="{{item.pk}}-{{field.name}}-loading" class="loading-circle ms-2" style="display: none;"></div>
                </label>
            </div>
        {% else %}
            <div class="form-floating px-1">
                {{ field }}
                <label class="d-flex justify-content-start w-100" for="{{item.pk}}-{{field.name}}">
                    <span>{{field.label}} </span>
                    <div id="{{item.pk}}-{{field.name}}-loading" class="loading-circle ms-2" style="display: none;"></div>
                </label>
            </div>
        {% endif %}
    {% endfor %}
</form>