{% load static %}
{% load crispy_forms_tags %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title user-select-none" id="modal_global_label">{{title}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="form_global"
              hx-post="{{endpoint}}"
              hx-target="#modal_global"
              hx-trigger="submit">
            {% csrf_token %}
            <div class="modal-body" id="modal_global_form">
                {% for field in form %}
                    {% if field.label == 'Password' %}
                        <div class="d-flex w-100 w-100-child">
                            {{ field | as_crispy_field }}
                            <button class="btn btn-outline-secondary btn-eye" type="button" onclick="passwordRevealToggle()">
                                <img src="{% static 'layout/eye.svg' %}">
                            </button>
                        </div>
                    {% else %}
                        {{ field | as_crispy_field }}
                    {% endif %}
                {% endfor %}

                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger user-select-none" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}

                {% if extra_htmls %}
                    <div class="pt-3 d-flex flex-column">
                        {% for extra_html in extra_htmls %}
                            <span class="small text-muted">{{ extra_html|safe }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                
                {% if messages %}
                    <div class="pt-3">
                        {% for message in messages %}
                            <div class="alert alert-{{message.type}} user-select-none" role="alert">
                                {{ message.text|safe }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <div class="d-flex align-items-end gap-3">
                    {% for extra_button in extra_buttons %}
                        <button type="button"
                                class="btn bg-{{extra_button.color|default:'orange'}}"
                                onclick="{{extra_button.onclick}}">
                            {{extra_button.label}}
                        </button>
                    {% endfor %}

                    <button id="submit_modal_global"
                        onclick="openInNewTab(this)"
                        href="{{submit_url}}"
                        type="submit"
                        class="btn bg-{{submit_color|default:'green'}}"
                        {% if close_on_submit %}data-bs-dismiss="modal"{% endif %}>
                        {{submit_label}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var password_elements = document.querySelectorAll('input[type="password"]');
    function passwordRevealToggle() {
        password_elements.forEach((element) => {
            if (element.type === 'password') {
                element.type = 'text';
            } else {
                element.type = 'password';
            }
        });
    }
</script>
<script>
    // Function that opens a link in a new tab
    function openInNewTab(element) {
        var url = element.getAttribute('href');
        if (!url) return;
        var win = window.open(url, '_blank');
        win.focus();
    }
</script>