{% load crispy_forms_tags %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title user-select-none" id="modal_global_label">{{title}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="form_global"
              hx-post="{{endpoint}}"
              hx-target="#modal_global"
              hx-trigger="submit">
            {% csrf_token %}
            <div class="modal-body" id="modal_global_form">
                {% if empty_message %}
                    <div class="alert alert-info user-select-none" role="alert">
                        {{ empty_message }}
                    </div>
                {% else %}
                    {{ form|crispy }}
                {% endif %}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                {% if close_on_submit %}
                    {% if submit_color %}
                        <button type="submit" class="btn bg-{{submit_color}}" data-bs-dismiss="modal">{{submit_label}}</button>
                    {% else %}
                        <button type="submit" class="btn bg-green" data-bs-dismiss="modal">{{submit_label}}</button>
                    {% endif %}
                {% else %}
                    {% if submit_color %}
                        <button type="submit" class="btn bg-{{submit_color}}">{{submit_label}}</button>
                    {% else %}
                        <button type="submit" class="btn bg-green" id="modal_form_submit">{{submit_label}}</button>
                    {% endif %}
                {% endif %}
            </div>
        </form>
    </div>
</div>