body {
    background: #fafafa;
    color: #333333;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-icon {
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    z-index: -1;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}

.main-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;
}

.user-form {
    margin: 0 auto;
    max-width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    width: 40%;
}

.orange, .orange-hover {
    color: #F26522 !important;
    border-color: #F26522;
}

.orange-hover:hover {
    color: #FFFFFF !important;
    border-color: #F26522;
    background-color: #F26522;
}

.blue, .blue-hover {
    color: #00AEEF !important;
    border-color: #00AEEF;
}

.blue-hover:hover {
    color: #FFFFFF !important;
    border-color: #00AEEF;
    background-color: #00AEEF;
}

.green, .green-hover {
    color: #8DC63F !important;
    border-color: #8DC63F;
}

.green-hover:hover {
    color: #FFFFFF !important;
    border-color: #8DC63F;
    background-color: #8DC63F;
}

.red, .red-hover {
    color: #D2122E !important;
    border-color: #D2122E;
}

.red-hover:hover {
    color: #FFFFFF !important;
    border-color: #D2122E;
    background-color: #D2122E;
}

.pfp-small {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #F26522;
    background-position: center center;
    background-size: cover;
}

.categories > .row {
/*    min-height: 6rem;*/
}

.paragraph {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-indent: 1rem;
    color: #333333;
}

.paragraph::first-letter {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    color: #00AEEF;
}

.search-results {
}

.long-ad {
    height: 100px;
}

.search-box {
    height: 40px;
}

.result-box{
}

.big-ad {
    height: 200px;
    width: 100%;
}

.site-logo {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    border-radius: 50%;
    transition: all 0.2s ease;
    width: 0rem;
    height: 0rem;
    margin-left: calc(50% - 0rem);
    margin-top: 0.25rem;
}

.site-logo-mobile-slot {
    display: none;
}

.site-logo-mobile {
    width: 4rem;
    height: 4rem;
    margin-left: -0.5rem;
    margin-top: 0.25rem;
}

.site-logo-space {
    height: 50px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

.site-header {
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    height: 2.5rem;
    z-index: 999;
}

.header-item {
    word-wrap: break-word;
    width: 5rem;
}

footer {
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    margin-top: auto;
}

.footer-logo {
    width: 5rem;
    height: 5rem;
}

.footer-logo img {
    width: 5rem;
    height: 5rem;
}

.footer-main {
    width: calc(100% - 5rem);
}

.footer-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.footer-item-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 2.5rem;
    width: 50%;
}

.footer-item {
    word-wrap: break-word;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    width: 50%;
}

.footer-item img {
    width: 1.5rem;
    height: 1.5rem;
}

.footer-item a {
    color: #333333;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
}

@media(max-width: 575px) {
    .header-item-group {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .site-logo, .site-logo-space {
        display: none;
    }

    .site-logo-mobile-slot {
        display: block;
    }

    .site-header {
        height: 4.5rem;
    }

    .footer-logo {
        width: 100%;
    }

    .footer-main {

        width: 100%;
    }

    .footer-section {
        flex-flow: column wrap;
    }

    .footer-item-group {
        width: 100%;
    }
}
