body {
    background: #fafafa;
    color: #333333;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-icon {
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    z-index: -1;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}

.main-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;
}

.user-form {
    margin: 0 auto;
    max-width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    width: 40%;
}

.orange, .orange-hover {
    color: #F26522 !important;
    border-color: #F26522;
}

.bg-orange {
    color: #FFFFFF !important;
    background-color: #F26522 !important;
}

.orange-hover:hover {
    color: #FFFFFF !important;
    border-color: #F26522;
    background-color: #F26522;
}

.blue, .blue-hover {
    color: #00AEEF !important;
    border-color: #00AEEF;
}

.bg-blue {
    color: #FFFFFF !important;
    background-color: #00AEEF !important;
}

.blue-hover:hover {
    color: #FFFFFF !important;
    border-color: #00AEEF;
    background-color: #00AEEF;
}

.green, .green-hover {
    color: #8DC63F !important;
    border-color: #8DC63F;
}

.bg-green {
    color: #FFFFFF !important;
    background-color: #8DC63F !important;
}

.green-hover:hover {
    color: #FFFFFF !important;
    border-color: #8DC63F;
    background-color: #8DC63F;
}

.red, .red-hover {
    color: #D2122E !important;
    border-color: #D2122E;
}

.bg-red {
    color: #FFFFFF !important;
    background-color: #D2122E !important;
}

.red-hover:hover {
    color: #FFFFFF !important;
    border-color: #D2122E;
    background-color: #D2122E;
}

.pfp-small {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #F26522;
    background-position: center center;
    background-size: cover;
}

.paragraph {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-indent: 1rem;
    color: #333333;
}

.paragraph::first-letter {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
    color: #00AEEF;
}

.long-ad {
    height: 7rem;
    margin-left: 0.025rem;
    margin-right: 0.025rem;
}

.search-box {
    height: 3rem;
}

.result-box{
    /* width: 100%; */
    /* display: flex; */
    /* flex-flow: row wrap; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* gap: 1rem; */
    /* padding: 0.5rem; */
    /* border-radius: 0.5rem; */
    /* background-color: #FFFFFF; */
    /* margin: 0.4rem; */
}

.big-ad {
    height: 400px;
}

.result-text-2 {
    width: 100%;
    justify-content: flex-start;
    -ms-box-orient: horizontal;
    display: flex;
    font-size: 11px;
    font-weight: 200;
    line-height: 100%;
    text-align: justify;
    text-justify: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #6d6d6d;
}

.two-columns{
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.three-columns{
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

@media (max-width:575px) {
    .result-text-2 {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
}

@media (max-width: 1495px) {
    .button_group_1 {
        width: 100%;
        -ms-box-orient: horizontal;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }   
}

.item-buttons {
    max-width: 7rem !important;
}

.site-logo {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    border-radius: 50%;
    transition: all 0.2s ease;
    width: 0rem;
    height: 0rem;
    margin-left: calc(50% - 0rem);
    margin-top: 0.25rem;
}

.site-logo-mobile-slot {
    display: none;
}

.site-logo-mobile {
    width: 4rem;
    height: 4rem;
    margin-left: -0.5rem;
    margin-top: 0.25rem;
}

.site-logo-space {
    height: 50px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

.site-header {
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    height: 2.5rem;
    z-index: 999;
}

.header-item {
    word-wrap: break-word;
    width: 5rem;
}

footer {
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    margin-top: auto;
}

.footer-logo {
    width: 5rem;
    height: 5rem;
}

.footer-logo img {
    width: 5rem;
    height: 5rem;
}

.footer-main {
    width: calc(100% - 5rem);
}

.footer-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.footer-item-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 2.5rem;
    width: 50%;
}

.footer-item {
    word-wrap: break-word;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    width: 50%;
}

.footer-item img {
    width: 1.5rem;
    height: 1.5rem;
}

.footer-item a {
    color: #333333;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
}

.round {
    border-radius: 2.5rem;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
}

.search-form {
    min-width: 300px;
    height: 722px;
}

.search-form-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    padding-bottom: 0.5rem;
    color: #333333;
}

.search-field-row {
    padding-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.search-field-label {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6d6d6d;
}

.home-main {
    /* width: calc(100% - 300px); */
}

.home-banner-ad-wide {
    height: 10rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.home-categories {
    /* width: 100%; */
}

.home-carousel {
    height: 538px;
    /* width: 70%; */
}

.fill {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.contact-form {
    max-width: 640px;
}

.home-category-item {
    min-height: 7rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.categories-ad {
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.categories-item-title {
    height: 4rem;
    width: 75%;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-item-text {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
}

.categories-item-text p {
    padding-top: 0.1rem;
    /* width: 45%; */
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.25;
    color: #6d6d6d;
    word-wrap: break-word;
}

.categories-detail-ad {
    height: 40rem;
}

.item-row-icon {
    width: 5rem;
    height: 5rem;
    border-radius: 20%;
}

.category-badge {
    height: 1.3rem !important;
    max-width: 3.5rem;
}

.category-badge-large {
    height: 2.1rem !important;
    max-width: 7rem;
}

.width-10 {
    width: 10rem !important;
}

.profile-image {
    width: 10rem;
    height: 10rem;
    border-radius: 25%;
    border: 2px solid;
    padding: 5px;
    background-position: center center;
    background-size: cover;

}

@media(max-width: 575px) {
    .main-content {
        margin-top: 1rem;
    }

    .header-item-group {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .site-logo, .site-logo-space {
        display: none;
    }

    .site-logo-mobile-slot {
        display: block;
    }

    .site-header {
        height: 4.5rem;
    }

    .footer-logo {
        width: 100%;
    }

    .footer-main {
        width: 100%;
    }

    .footer-section {
        flex-flow: column wrap;
    }

    .footer-item-group {
        width: 100%;
    }
}

@media(max-width: 1199px) {    
    .search-form {
        width: 95%;
    }

    .home-main {
        width: 95%;
    }
}