<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="from-date" value="{{activity.from_date}}" />
  <label class="ps-4" for="from-date">From Date</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="to-date" value="{{activity.to_date}}" />
  <label class="ps-4" for="to-date">To Date</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="weekday" value="{{activity.weekday}}" />
  <label class="ps-4" for="weekday">Weekday</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="start-time" value="{{activity.start_time}}" />
  <label class="ps-4" for="start-time">Start Time</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="end-time" value="{{activity.end_time}}" />
  <label class="ps-4" for="end-time">End Time</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="duration" value="{{activity.get_duration}}" />
  <label class="ps-4" for="duration">Duration</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="age-group" value="{{activity.age_group}}" />
  <label class="ps-4" for="age-group">Age Group</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="position" value="{{activity.position}}" />
  <label class="ps-4" for="position">Position</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="location" value="{{activity.location}}" />
  <label class="ps-4" for="location">Location</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="price" value="{{activity.get_price}}" />
  <label class="ps-4" for="price">Price</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="capacity" value="{{activity.capacity}}" />
  <label class="ps-4" for="capacity">Capacity</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="activity-type" value="{{activity.activity_type}}" />
  <label class="ps-4" for="activity-type">Activity Type</label>
</form>
