<form class="form-floating pb-2 px-1">
  {% csrf_token %}
  <input name="field" value="from_date" hidden />
  <input name="prev_value" value="{{activity.from_date}}" hidden />
  <input class="form-control bg-white rounded"
         type="text"
         name="value"
         id="from_date"
         value="{{activity.from_date}}"
         hx-post="{% url 'activity-field-edit' activity.slug %}"
         hx-trigger="keyup delay:500ms"
         onkeydown="showLoadingSpinner(this)"
         hx-on::after-request="hideLoadingSpinner(this)"
         hx-target="#from_date" />
  <label class="d-flex justify-content-start w-100" for="from_date">
    <span>From Date</span>
    <div id="from_date-loading" class="loading-circle ms-2" style="display: none;"></div>
  </label>
</form><form class="form-floating pb-2 px-1">
  {% csrf_token %}
  <input name="field" value="to_date" hidden />
  <input name="prev_value" value="{{activity.to_date}}" hidden />
  <input class="form-control bg-white rounded"
         type="text"
         name="value"
         id="to_date"
         value="{{activity.to_date}}"
         hx-post="{% url 'activity-field-edit' activity.slug %}"
         hx-trigger="keyup delay:500ms"
         onkeydown="showLoadingSpinner(this)"
         hx-on::after-request="hideLoadingSpinner(this)"
         hx-target="#to_date" />
  <label class="d-flex justify-content-start w-100" for="to_date">
    <span>To Date</span>
    <div id="to_date-loading" class="loading-circle ms-2" style="display: none;"></div>
  </label>
</form><form class="form-floating pb-2 px-1">
  {% csrf_token %}
  <input name="field" value="weekday" hidden />
  <input name="prev_value" value="{{activity.weekday}}" hidden />
  <input class="form-control bg-white rounded"
         type="text"
         name="value"
         id="weekday"
         value="{{activity.weekday}}"
         hx-post="{% url 'activity-field-edit' activity.slug %}"
         hx-trigger="keyup delay:500ms"
         onkeydown="showLoadingSpinner(this)"
         hx-on::after-request="hideLoadingSpinner(this)"
         hx-target="#weekday" />
  <label class="d-flex justify-content-start w-100" for="weekday">
    <span>Weekday</span>
    <div id="weekday-loading" class="loading-circle ms-2" style="display: none;"></div>
  </label>
</form><form class="form-floating pb-2 px-1">
  {% csrf_token %}
  <input name="field" value="start_time" hidden />
  <input name="prev_value" value="{{activity.start_time}}" hidden />
  <input class="form-control bg-white rounded"
         type="text"
         name="value"
         id="start_time"
         value="{{activity.start_time}}"
         hx-post="{% url 'activity-field-edit' activity.slug %}"
         hx-trigger="keyup delay:500ms"
         onkeydown="showLoadingSpinner(this)"
         hx-on::after-request="hideLoadingSpinner(this)"
         hx-target="#start_time" />
  <label class="d-flex justify-content-start w-100" for="start_time">
    <span>Start Time</span>
    <div id="start_time-loading" class="loading-circle ms-2" style="display: none;"></div>
  </label>
</form><form class="form-floating pb-2 px-1">
  {% csrf_token %}
  <input name="field" value="end_time" hidden />
  <input name="prev_value" value="{{activity.end_time}}" hidden />
  <input class="form-control bg-white rounded"
         type="text"
         name="value"
         id="end_time"
         value="{{activity.end_time}}"
         hx-post="{% url 'activity-field-edit' activity.slug %}"
         hx-trigger="keyup delay:500ms"
         onkeydown="showLoadingSpinner(this)"
         hx-on::after-request="hideLoadingSpinner(this)"
         hx-target="#end_time" />
  <label class="d-flex justify-content-start w-100" for="end_time">
    <span>End Time</span>
    <div id="end_time-loading" class="loading-circle ms-2" style="display: none;"></div>
  </label>
</form><form class="form-floating pb-2 px-1">
  {% csrf_token %}
  <input name="field" value="duration" hidden />
  <input name="prev_value" value="{{activity.get_duration}}" hidden />
  <input class="form-control bg-white rounded"
         type="text"
         name="value"
         id="duration"
         value="{{activity.get_duration}}"
         hx-post="{% url 'activity-field-edit' activity.slug %}"
         hx-trigger="keyup delay:500ms"
         onkeydown="showLoadingSpinner(this)"
         hx-on::after-request="hideLoadingSpinner(this)"
         hx-target="#duration" />
  <label class="d-flex justify-content-start w-100" for="duration">
    <span>Duration</span>
    <div id="duration-loading" class="loading-circle ms-2" style="display: none;"></div>
  </label>
</form><form class="form-floating pb-2 px-1">
  {% csrf_token %}
  <input name="field" value="age_group" hidden />
  <input name="prev_value" value="{{activity.age_group}}" hidden />
  <input class="form-control bg-white rounded"
         type="text"
         name="value"
         id="age_group"
         value="{{activity.age_group}}"
         hx-post="{% url 'activity-field-edit' activity.slug %}"
         hx-trigger="keyup delay:500ms"
         onkeydown="showLoadingSpinner(this)"
         hx-on::after-request="hideLoadingSpinner(this)"
         hx-target="#age_group" />
  <label class="d-flex justify-content-start w-100" for="age_group">
    <span>Age Group</span>
    <div id="age_group-loading" class="loading-circle ms-2" style="display: none;"></div>
  </label>
</form><form class="form-floating pb-2 px-1">
  {% csrf_token %}
  <input name="field" value="position" hidden />
  <input name="prev_value" value="{{activity.position}}" hidden />
  <input class="form-control bg-white rounded"
         type="text"
         name="value"
         id="position"
         value="{{activity.position}}"
         hx-post="{% url 'activity-field-edit' activity.slug %}"
         hx-trigger="keyup delay:500ms"
         onkeydown="showLoadingSpinner(this)"
         hx-on::after-request="hideLoadingSpinner(this)"
         hx-target="#position" />
  <label class="d-flex justify-content-start w-100" for="position">
    <span>Position</span>
    <div id="position-loading" class="loading-circle ms-2" style="display: none;"></div>
  </label>
</form><form class="form-floating pb-2 px-1">
  {% csrf_token %}
  <input name="field" value="location" hidden />
  <input name="prev_value" value="{{activity.location}}" hidden />
  <input class="form-control bg-white rounded"
         type="text"
         name="value"
         id="location"
         value="{{activity.location}}"
         hx-post="{% url 'activity-field-edit' activity.slug %}"
         hx-trigger="keyup delay:500ms"
         onkeydown="showLoadingSpinner(this)"
         hx-on::after-request="hideLoadingSpinner(this)"
         hx-target="#location" />
  <label class="d-flex justify-content-start w-100" for="location">
    <span>Location</span>
    <div id="location-loading" class="loading-circle ms-2" style="display: none;"></div>
  </label>
</form><form class="form-floating pb-2 px-1">
  {% csrf_token %}
  <input name="field" value="price" hidden />
  <input name="prev_value" value="{{activity.get_price}}" hidden />
  <input class="form-control bg-white rounded"
         type="text"
         name="value"
         id="price"
         value="{{activity.get_price}}"
         hx-post="{% url 'activity-field-edit' activity.slug %}"
         hx-trigger="keyup delay:500ms"
         onkeydown="showLoadingSpinner(this)"
         hx-on::after-request="hideLoadingSpinner(this)"
         hx-target="#price"
         hx-preserve="true" />
  <label class="d-flex justify-content-start w-100" for="price">
    <span>Price</span>
    <div id="price-loading" class="loading-circle ms-2" style="display: none;"></div>
  </label>
</form><form class="form-floating pb-2 px-1">
  {% csrf_token %}
  <input name="field" value="capacity" hidden />
  <input name="prev_value" value="{{activity.capacity}}" hidden />
  <input class="form-control bg-white rounded"
         type="text"
         name="value"
         id="capacity"
         value="{{activity.capacity}}"
         hx-post="{% url 'activity-field-edit' activity.slug %}"
         hx-trigger="keyup delay:500ms"
         onkeydown="showLoadingSpinner(this)"
         hx-on::after-request="hideLoadingSpinner(this)"
         hx-target="#capacity" />
  <label class="d-flex justify-content-start w-100" for="capacity">
    <span>Capacity</span>
    <div id="capacity-loading" class="loading-circle ms-2" style="display: none;"></div>
  </label>
</form><form class="form-floating pb-2 px-1">
  {% csrf_token %}
  <input name="field" value="activity_type" hidden />
  <input name="prev_value" value="{{activity.activity_type}}" hidden />
  <input class="form-control bg-white rounded"
         type="text"
         name="value"
         id="activity_type"
         value="{{activity.activity_type}}"
         hx-post="{% url 'activity-field-edit' activity.slug %}"
         hx-trigger="keyup delay:500ms"
         onkeydown="showLoadingSpinner(this)"
         hx-on::after-request="hideLoadingSpinner(this, event)"
         hx-target="#activity_type"
         hx-preserve="true" />
  <label class="d-flex justify-content-start w-100" for="activity_type">
    <span>Activity Type</span>
    <div id="activity_type-loading" class="loading-circle ms-2" style="display: none;"></div>
  </label>
</form>

<style>
  .loading-circle {
    width: 15px;
    height: 15px;
    border: 2px solid transparent;
    margin-top: 5px;
    border-top-color: #3498db;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>

<script>
  function showLoadingSpinner(element) {
    console.log('showing loading spinner');
    document.getElementById(element.id + "-loading").style.display = "block";
  }

  function hideLoadingSpinner(element) {
    console.log('hiding loading spinner. event: ', event);
    document.getElementById(element.id + "-loading").style.display = "none";
    element.value = event.detail.xhr.responseText;
  }
</script>