<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="from-date" value="test@example.com" />
  <label class="ps-4" for="from-date">From Date</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="to-date" value="test@example.com" />
  <label class="ps-4" for="to-date">To Date</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="weekday" value="test@example.com" />
  <label class="ps-4" for="weekday">Weekday</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="start-time" value="test@example.com" />
  <label class="ps-4" for="start-time">Start Time</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="end-time" value="test@example.com" />
  <label class="ps-4" for="end-time">End Time</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="duration" value="test@example.com" />
  <label class="ps-4" for="duration">Duration</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="age-group" value="test@example.com" />
  <label class="ps-4" for="age-group">Age Group</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="position" value="test@example.com" />
  <label class="ps-4" for="position">Position</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="location" value="test@example.com" />
  <label class="ps-4" for="location">Location</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="price" value="test@example.com" />
  <label class="ps-4" for="price">Price</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="capacity" value="test@example.com" />
  <label class="ps-4" for="capacity">Capacity</label>
</form>
<form class="form-floating pb-2 px-1">
  <input class="form-control bg-white rounded" id="activity-type" value="test@example.com" />
  <label class="ps-4" for="activity-type">Activity Type</label>
</form>
