{% load static %}
<div class="item-buttons">
    <div class="book-button btn-group">
        <button type="button" class="w-75 btn btn-outline-primary">Book</button>
        <button type="button" class="w-25 btn btn-outline-primary orange-hover"
            hx-post="{% url 'activity-like' activity.slug %}?next={{ request.path }}">
            {% include 'activities/partials/activity_like.html' with activity=activity %}
        </button>
    </div>

    
    <div class="btn btn-outline-primary orange-hover border-0"
         onclick='shareOnTwitter("{{request.get_host}}{{activity.get_absolute_url}}")'>
        <img class="orange-filter" src="{% static 'layout/twitter-x.svg' %}" />
    </div>
    <div class="btn btn-outline-primary orange-hover border-0"
         onclick='shareOnFacebook("{{request.get_host}}{{activity.get_absolute_url}}")'>
        <img class="orange-filter" src="{% static 'layout/facebook.svg' %}" />
    </div>
    <div class="btn btn-outline-primary orange-hover border-0"
         onclick='shareByCopy(this, "{{request.get_host}}{{activity.get_absolute_url}}", "{% static 'layout/clipboard-check.svg' %}")'>
        <img class="orange-filter" src="{% static 'layout/clipboard.svg' %}" />
    </div>
</div>


