{% load static %}
<div class="item-buttons w-100 d-flex justify-content-md-start justify-content-center pb-2">
  <div class="w-100 d-flex flex-column justify-content-start align-items-center pt-2 pt-md-0">
    <div class="w-100 d-flex justify-content-center align-items-center flex-column gap-1 mb-2 w-100 pt-2">
      <div class="rounded-pill btn bg-orange border btn-light w-100">Book</div>
      <div class="w-100 d-flex flex-row gap-1">
        <div class="w-50 rounded-pill btn bg-white border btn-light d-flex justify-content-center align-items-center">
          <img src="{% static 'layout/star.svg' %}" />
        </div>
        <div class="w-50 rounded-pill btn bg-white border btn-light d-flex justify-content-center align-items-center">
          <img src="{% static 'layout/share-fill.svg' %}" />
        </div>
      </div>
    </div>
  </div>
</div>
