{% if family_member in activity.family_members.all %}
    <button id="activity_interaction_book_family_member_{{activity.slug}}_{{family_member.pk}}"
            class="w-75 btn btn-outline-primary red-hover"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modal_interaction_direct_{{activity.slug}}_{{family_member.pk}}">
        Opt-out
    </button>
{% else %}
    <button id="activity_interaction_book_family_member_{{activity.slug}}_{{family_member.pk}}"
            class="w-75 btn btn-outline-primary orange-hover"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modal_global"
            hx-get="{% url 'activity-book-direct' activity.slug %}?family_member_pk={{family_member.pk}}&action=add"
            hx-trigger="click"
            hx-target="#modal_global">
        Book
    </button>
{% endif %}