{% if request.user.is_authenticated %}
    <button class="w-75 btn btn-outline-primary orange-hover" type="button" data-bs-toggle="modal"
        data-bs-target="#modal_interaction_selector_{{activity.slug}}_{{family_member.pk}}"
        hx-get="{% url 'activity-book' activity.slug %}" hx-trigger="click"
        hx-target="#modal_interaction_selector_form_{{activity.slug}}_{{family_member.pk}}">
        Book
    </button>
{% else %}
    <button class="w-75 btn btn-outline-primary orange-hover" type="button"
        hx-get="{% url 'activity-book' activity.slug %}" hx-trigger="click">
        Book
    </button>
{% endif %}
