{% if request.user.is_authenticated and not request.user.is_staff %}
    {% if family_member %}
        {% if family_member in activity.family_members.all %}
            <button id="activity_interaction_book_family_member_{{activity.slug}}_{{family_member.pk}}"
                    class="w-75 btn btn-outline-primary red-hover"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#modal_global"
                    hx-get="{% url 'activity-book-direct' activity.slug %}?family_member_pk={{family_member.pk}}&action=remove"
                    hx-trigger="click"
                    hx-target="#modal_global"
                    hx-swap="innerHTML"
                    data-bs-toggle="popover"
                    data-bs-placement="top"
                    data-bs-content="Remove from {{family_member.name}}'s list">
                Remove
            </button>
            {% include 'activities/partials/like.html' with activity=activity family_member=family_member %}
        {% else %}
            <button id="activity_interaction_book_family_member_{{activity.slug}}_{{family_member.pk}}"
                    class="w-75 btn btn-outline-primary orange-hover"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#modal_global"
                    hx-get="{% url 'activity-book-direct' activity.slug %}?family_member_pk={{family_member.pk}}&action=add"
                    hx-trigger="click"
                    hx-target="#modal_global"
                    hx-swap="innerHTML"
                    data-bs-toggle="popover"
                    data-bs-placement="top"
                    data-bs-content="Book activity for {{family_member.name}}">
                Book
            </button>
            {% include 'activities/partials/like.html' with activity=activity family_member=family_member %}
        {% endif %}
    {% else %}
        <button id="activity_interaction_book_family_member_{{activity.slug}}_{{family_member.pk}}"
                class="w-75 btn btn-outline-primary orange-hover"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#modal_global"
                hx-get="{% url 'activity-book' activity.slug %}#"
                hx-trigger="click"
                hx-target="#modal_global"
                hx-swap="innerHTML"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="Book activity">
            Book
        </button>
        {% include 'activities/partials/like.html' with activity=activity family_member=family_member %}
    {% endif %}
    <script>
        initializePopover("activity_interaction_book_family_member_{{activity.slug}}_{{family_member.pk}}");
    </script>
{% else %}
    <button id="activity_interaction_book_{{activity.slug}}"
            class="w-75 btn btn-outline-primary orange-hover"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modal_global"
            hx-get="{% url 'users-login' %}?target_activity={{activity.slug}}"
            hx-trigger="click"
            hx-target="#modal_global"
            hx-swap="innerHTML"
            onclick="deletePopover(this)"
            data-bs-toggle="popover"
            data-bs-placement="top"
            data-bs-content="Book activity">
        Book
    </button>
    {% include 'activities/partials/like.html' with activity=activity family_member=family_member %}
    <script>
        initializePopover("activity_interaction_book_{{activity.slug}}");
    </script>
{% endif %}