<div class="d-flex flex-column small align-items-start align-items-md-start">
    <span class="text-muted small">From Date</span>
    <span class="">{{activity.from_date|default_if_none:"-"}}</span>
</div>
<div class="d-flex flex-column small align-items-start align-items-md-start pb-2">
    <span class="text-muted small">To Date</span>
    <span class="">{{activity.to_date|default_if_none:"-"}}</span>
</div>
<div class="d-flex flex-column small align-items-start align-items-md-start pb-2">
    <span class="text-muted small">Start Time</span>
    <span class="">{{activity.start_time|default_if_none:"-"}}</span>
</div>
<div class="d-flex flex-column small align-items-start align-items-md-start pb-2">
    <span class="text-muted small">End Time</span>
    <span class="">{{activity.end_time|default_if_none:"-"}}</span>
</div>
<div class="d-flex flex-column small align-items-start align-items-md-start pb-2">
    <span class="text-muted small">Duration</span>
    <span class="">{{activity.get_duration|default_if_none:"-"}}</span>
</div>
<div class="d-flex flex-column small align-items-start align-items-md-start pb-2">
    <span class="text-muted small">Weekday</span>
    <span class="">{{activity.weekday|default_if_none:"-"}}</span>
</div>
<div class="d-flex flex-column small align-items-start align-items-md-start pb-2">
    <span class="text-muted small">Age Group</span>
    <span class="">{{activity.get_age_group|default_if_none:"-"}}</span>
</div>
<div class="d-flex flex-column small align-items-start align-items-md-start pb-2">
    <span class="text-muted small">Position</span>
    <span class="">{{activity.position|default_if_none:"-"}}</span>
</div>
<div class="d-flex flex-column small align-items-start align-items-md-start pb-2">
    <span class="text-muted small">Location</span>
    <span class="">{{activity.location|default_if_none:"-"}}</span>
</div>
<div class="d-flex flex-column small align-items-start align-items-md-start pb-2">
    <span class="text-muted small">Price</span>
    <span class="">{{activity.get_price|default_if_none:"-"}}</span>
</div>
<div class="d-flex flex-column small align-items-start align-items-md-start pb-2">
    <span class="text-muted small">Capacity</span>
    <span class="">{{activity.capacity|default_if_none:"-"}}</span>
</div>
<div class="d-flex flex-column small align-items-start align-items-md-start pb-2">
    <span class="text-muted small">Activity Type</span>
    <span class="">{{activity.activity_type|default_if_none:"-"}}</span>
</div>
