{% if edit %}
  <div class="col d-flex flex-column gap-1 justify-content-center align-items-center pt-3 pt-sm-0">
    <div class="row row-cols-2 row-cols-lg-4 row-cols-xl-6 w-100">
      {% include "activities/partials/fields_edit.html" with activity=activity %}
    </div>
  </div>
{% else %}
  <div class="col d-flex flex-column gap-1 justify-content-center align-items-center pt-3 pt-sm-0">
    <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4">
      {% include "activities/partials/fields_view.html" with activity=activity %}
    </div>
  </div>
  <div class="col-xl-3 d-flex justify-content-center align-items-center">
    {% include "activities/partials/interaction.html" with activity=activity family_member=family_member %}
  </div>
{% endif %}