<div class="round border bg-white mb-0 mb-lg-4">
    {% if family_members.count == 0 %}
        <div class="text-center p-4">
            <h4>No participants found</h4>
        </div>
    {% else %}
        <div class="search-box row align-items-center justify-content-end">
            <div class="w-100 text-end"> 
                <input class="search-input" type="text" placeholder="Search" aria-label="Search">
            </div>
        </div>
        {% for family_member in family_members %}
            {% include "members/partials/family_member_activity_item.html" with family_member=family_member %}
        {% endfor %}
    {% endif %}
</div>