<div class="container categories">
    <div class="row g-2 py-1">
        <div class="col-sm-3">
            <div class="pt-5 pb-5 border green-hover rounded text-center text-nowrap">
                Ad up to 3
            </div>
        </div>
        <div class="col-sm-6">
            <div class="pt-5 pb-5 border green-hover rounded text-center text-nowrap">
                Banner Ad
            </div>
        </div>
        <div class="col-sm-3">
            <div class="pt-5 pb-5 border green-hover rounded text-center text-nowrap">
                Small Rectangle Ad
            </div>
        </div>
    </div>
    <div class="row g-2 py-1">
        <div class="col-sm-4">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap">
                Sport
            </div>
        </div>
        <div class="col-sm-4">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap">
                Art
            </div>
        </div>
        <div class="col-sm-4">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap">
                Science
            </div>
        </div>
    </div>
    <div class="row g-2 py-1">
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap">
                Hockey
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap">
                Soccer
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap">
                Art Classes
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap">
                Theatre
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap">
                Coding
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap">
                Subcategory
            </div>
        </div>
    </div>
    <div class="row g-2 py-1">
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap">
                Dance
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap">
                Baseball
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap">
                Subcategory
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap">
                Subcategory
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap">
                Subcategory
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap">
                Subcategory
            </div>
        </div>
    </div>
</div>