<div class="container">
    <h1 class="text-center green">Contact</h1>
    <div class="row py-2">
        <div class="col-sm-3">
            <div class="text-start text-nowrap orange fs-5 fw-bold">
                Address
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-start text-nowrap orange fs-5 fw-bold">
                Phone
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-start text-nowrap orange fs-5 fw-bold">
                Email
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-start text-nowrap orange fs-5 fw-bold">
                Stay Connected
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="text-start text-nowrap orange fs-6">
                1234 56th street
                <br>
                City
                <br>
                A1B 2C3
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-start text-nowrap orange fs-6">
                1.234.567.8901
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-start text-nowrap orange fs-6">
                example@here.com
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-start text-nowrap orange fs-6">
                social media icons
            </div>
        </div>
    </div>
    <div class="row py-1">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap"  style="height:200px;">
                Contact Form
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
