{% load crispy_forms_tags %}
{% load static %}
<div class="contact-form round bg-white border user-select-none">
    <form method="post" class="">
        {% csrf_token %}

        <div class="fs-6 fw-bold text-center">
            Contact Form
        </div>

        <fieldset class="form-group" id="contact-form-fieldset">
            <legend class="border-bottom">Contact Us</legend>
            {{ form | crispy }}
        </fieldset>

        <div class="d-flex justify-content-center align-items-center">
            <button id="contact-form-submit"
                    type="submit"
                    class="btn orange-hover w-50 align-self-end my-3"
                    hx-post="{% url 'layout-contact' %}"
                    hx-target="#contact-form"
                    hx-on::before-request="disableContactForm()">
                Send
            </button>
        </div>
        <div class="small text-left text-muted pt-2">
            Email us with any questions or inquiries. We would be happy to answer your questions and set up a meeting with you. Activity Guide is here to help you find the perfect activity for your child. We will try to respond within 24-72 hours.
        </div>
    </form>
    <div id="contact-form-spinner" class="spinner-border text-orange d-none" style="width: 5rem; height: 5rem;" role="status" />
</div>
<script>
    setTimeout(() => {
        initializePhoneNumberElement('id_phone');
    }, 1);
</script>