{% load static %}
<footer class="site-footer container-fluid text-center pb-2 pt-2 user-select-none">
    <div class="d-flex flex-row flex-wrap">
        <div class="footer-logo">        
            <img class=""
                 role="button"
                 src="{% static 'layout/main_icon.png' %}"
                 hx-target=".main-content"
                 hx-trigger="click[window.location.pathname != '{% url "layout-home" %}']"
                 hx-on::after-request="scrollToTop()"
                 hx-push-url="true"
                 hx-get="{% url 'layout-home' %}"
                 onclick="scrollToTop()"/>
        </div>
        <div class="footer-main d-flex flex-column">
            <div class="footer-section">
                <div class="footer-item-group">
                    <div class="footer-item">
                        <img src="{% static 'layout/facebook_logo.svg' %}">
                        <a class="" target="_blank" href="https://www.facebook.com/activityguide.ca">Facebook</a>
                    </div>
                    <div class="footer-item">
                        <img src="{% static 'layout/instagram_logo.svg' %}">
                        <a class="" target="_blank" href="https://www.instagram.com/kamloopsactivityguide">Instagram</a>
                    </div>
                </div>
                <div class="footer-item-group">
                    <div class="footer-item">
                        Send us an email
                    </div>
                    <div class="footer-item">
                        Drop us a line
                    </div>
                </div>
            </div>
            <div class="h-50 text-muted small w-75 align-self-center">
                <em>
                    2024 Activity Guide. All rights reserved. <a href="{% url 'layout-privacy-policy' %}"
                                                                 hx-target=".main-content"
                                                                 hx-trigger="click[window.location.pathname != '{% url "layout-privacy-policy" %}']"
                                                                 hx-on::after-request="scrollToTop()"
                                                                 hx-push-url="true"
                                                                 hx-get="{% url 'layout-privacy-policy' %}"
                                                                 onclick="scrollToTop()">Privacy policy.</a>
                </em>
            </div>
        </div>
    </div>
</footer>