{% extends request.base_template %}
{% load static %}
{% block content %}
<div class="container-xxl">
    <div class="row gap-4 justify-content-center">
        <div class="col-md-3 order-1 order-xl-0 search-form border bg-white round d-flex flex-column justify-content-center">
            <div class="search-form-title">
                Search Form
            </div>
            <div class="search-field-row">
                <div class="search-field-item w-100">
                    <div class="search-field-label">
                        Field1
                    </div>
                    <div class="search-field-input">
                        <input type="text" class="form-control" placeholder="Field1">
                    </div>
                </div>
            </div>
            <div class="search-field-row">
                <div class="search-field-item w-100">
                    <div class="search-field-label">
                        Field2
                    </div>
                    <div class="search-field-input">
                        <input type="text" class="form-control" placeholder="Field2">
                    </div>
                </div>
            </div>
            <div class="search-field-row">
                <div class="search-field-item w-100">
                    <div class="search-field-label">
                        Field3
                    </div>
                    <div class="search-field-input">
                        <input type="text" class="form-control" placeholder="Field3">
                    </div>
                </div>
            </div>
            <div class="search-field-row">
                <div class="search-field-item w-100">
                    <div class="search-field-label">
                        Field4
                    </div>
                    <div class="search-field-input">
                        <input type="text" class="form-control" placeholder="Field4">
                    </div>
                </div>
            </div>
            <div class="search-field-row">
                <div class="search-field-item w-100">
                    <div class="search-field-label">
                        Field5
                    </div>
                    <div class="search-field-input">
                        <input type="text" class="form-control" placeholder="Field5">
                    </div>
                </div>
            </div>
            <div class="search-field-row">
                <div class="search-field-item w-100">
                    <div class="search-field-label">
                        Field6
                    </div>
                    <div class="search-field-input">
                        <input type="text" class="form-control" placeholder="Field6">
                    </div>
                </div>
            </div>
            <div class="search-field-row">
                <div class="search-field-item w-50">
                    <div class="search-field-label">
                        Field7
                    </div>
                    <div class="search-field-input">
                        <input type="text" class="form-control" placeholder="Field7">
                    </div>
                </div>
                <div class="search-field-item w-50">
                    <div class="search-field-label">
                        Field8
                    </div>
                    <div class="search-field-input">
                        <input type="text" class="form-control" placeholder="Field8">
                    </div>
                </div>
            </div>
            <div class="search-field-row">
                <div class="search-field-item w-50">
                    <div class="search-field-label">
                        Field9
                    </div>
                    <div class="search-field-input">
                        <input type="text" class="form-control" placeholder="Field9">
                    </div>
                </div>
                <div class="search-field-item w-50">
                    <div class="search-field-label">
                        Field10
                    </div>
                    <div class="search-field-input">
                        <input type="text" class="form-control" placeholder="Field10">
                    </div>
                </div>
            </div>
            <div class="search-field-row">
                <div class="search-field-item w-100">
                    <div class="search-field-label">
                        Field11
                    </div>
                    <div class="search-field-input">
                        <input type="text" class="form-control" placeholder="Field11">
                    </div>
                </div>
            </div>
            <button type="button"
                    class="btn btn-primary w-50 align-self-end my-3"
                    hx-target=".main-content"
                    hx-trigger="click"
                    hx-push-url="true"
                    hx-get="{% url 'layout-search-results' %}"
                    onclick="scrollToTop()">
                Go!
            </button>
        </div>
        <div class="col-md-8 home-main d-flex flex-column gap-4 no-padding">
            <div class="home-banner-ad-wide border round bg-white small text-muted crossed">
                
            </div>
            <div class="row home-categories">
                <div class="col-md-9 home-carousel pb-4 pb-md-0">
                    <div id="carouselExampleCaptions" class="carousel carousel-dark slide h-100 w-100" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {% for offer in offers %}
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner h-100">
                            {% for offer in offers %}
                                <div class="carousel-item round border-thick-{{ offer.category.get_color }} fill {% if forloop.first %}active{% endif %}"
                                        style="background-image: url('{{ offer.image }}');">
                                    <div class="carousel-caption bg-white round border"
                                            role="button"
                                            hx-target=".main-content"
                                            hx-trigger="click[window.location.pathname != '{% url "offer-detail" offer.slug %}']"
                                            hx-on::after-request="scrollToTop()"
                                            hx-push-url="true"
                                            hx-get="{% url 'offer-detail' offer.slug %}"
                                            onclick="scrollToTop()">
                                        <div class="d-flex flex-sm-row flex-column flex-nowrap justify-content-center">
                                            <span class="category-badge badge bg-{{ offer.category.get_color }} m-1 align-self-center align-self-sm-start">
                                                {{ offer.category.name }}
                                            </span>
                                            <h5 class="{{ offer.category.get_color }}">{{ offer.name }}</h5>
                                        </div>
                                        <p>{{ offer.description }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3 d-flex flex-column gap-4">
                    {% for category in categories %}
                        <div class="home-category-item flex-fill fs-2 fw-bolder round text-center text-nowrap border-thick-{{ category.get_color }} {{ category.get_color }}-hover"
                             role="button"
                             hx-target=".main-content"
                             hx-trigger="click"
                             hx-push-url="true"
                             hx-get="{% url 'categories-detail' category.slug %}"
                             onclick="scrollToTop()">
                            {{ category.name }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <hr class="hr my-5" />
    <div id="about-us">
        <h1 class="text-center green">About Us</h1>
        <p class="paragraph">Welcome to Activity Guide, where the journey to endless fun begins! I&#39;m Anke Irwin, the founder and heart behind this one-stop-shop for all things active and exciting.</p>
        <p class="paragraph">As a mother of a spirited and always-on-the-go boy and a daughter with a love for theatre, art, and martial arts, I intimately understand the unique challenges that parents face when trying to find the perfect summer camps and activities for their diverse and dynamic children. The struggle of navigating various websites, juggling schedules, and trying to keep up with the ever-growing list of options can be overwhelming. That frustration ignited the spark that led to the creation of Activity Guide.</p>
        <p class="paragraph">Activity Guide was born out of a simple yet powerful idea – why not have a single, comprehensive platform that caters to all your child&#39;s activity needs? I wanted to create a space where parents, like myself, could effortlessly discover and explore a diverse range of activities, all in one place.</p>
        <p class="paragraph">Our mission is clear: to make your life as a parent easier by providing a fast and efficient solution to the never-ending quest for the perfect summer adventure or activity. Whether you&#39;re on the lookout for sports camps, art classes, outdoor explorations, or STEM activities, we&#39;ve got it all neatly organized and easily accessible.</p>
        <p class="paragraph">At Activity Guide we believe that finding the right summer camp or activity for your child should be as enjoyable as the activities themselves. Our user-friendly interface is designed with busy parents in mind, ensuring a seamless experience as you navigate through a plethora of options. Say goodbye to the endless tabs and bookmarks – we&#39;ve curated a diverse array of activities to cater to every interest and passion.</p>
        <p class="paragraph">Join us on this exciting journey as we simplify the search for activities, allowing you to spend less time searching and more time creating lasting memories with your little ones. Here&#39;s to a time filled with joy, laughter, and the discovery of new adventures – all made possible by Activity Guide. Welcome to a world of hassle-free fun!</p>
    </div>
    <hr class="hr my-5" />
    <div id="contact">
        <h1 class="text-center green">Contact</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col d-flex flex-column justify-content-start align-items-center pb-4">
                        <div class="text-start text-nowrap blue fs-5 fw-bold">
                            Address
                        </div>
                        <div class="text-start text-nowrap orange fs-6">
                            1234 56th street<br>City<br>A1B 2C3
                        </div>
                    </div>
                    <div class="col d-flex flex-column justify-content-start align-items-center pb-4">
                        <div class="text-start text-nowrap blue fs-5 fw-bold">
                            Phone
                        </div>
                        <div class="text-start text-nowrap orange fs-6">
                            250.819.4896
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col d-flex flex-column justify-content-start align-items-center pb-4">
                        <div class="text-start text-nowrap blue fs-5 fw-bold">
                            Email
                        </div>
                        <div class="text-start text-nowrap orange fs-6">
                            <a class="orange" href="mailto:anke@activityguide.ca">anke@activityguide.ca</a>
                        </div>
                    </div>
                    <div class="col d-flex flex-column justify-content-start align-items-center pb-4">
                        <div class="text-start text-nowrap blue fs-5 fw-bold">
                            Stay Connected
                        </div>
                        <div class="text-start text-nowrap orange fs-6 d-flex flex-row flex-nowrap gap-2">
                            <div class="footer-item">
                                <img src="{% static "layout/facebook_logo.svg"%}">
                                <a class="orange" href="https://www.facebook.com/activityguide.ca">Facebook</a>
                            </div>
                            <div class="footer-item">
                                <img src="{% static "layout/instagram_logo.svg"%}">
                                <a class="orange" href="https://www.instagram.com/kamloopsactivityguide">Instagram</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-4 gap-0 justify-content-center align-items-center px-2">
            <div class="contact-form round bg-white border">
                <div class="fs-6 fw-bold text-center">
                    Contact Form
                </div>
                <div class="small text-muted">
                    Your email
                </div>
                <div class="">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="small text-muted pt-2">
                    Your message to us
                </div>
                <div class="">
                    <textarea class="form-control" placeholder="Message"></textarea>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button type="button"
                            class="btn btn-primary w-50 align-self-end my-3"
                            hx-target=".main-content"
                            hx-trigger="click"
                            hx-push-url="true"
                            hx-get="{% url 'layout-search-results' %}"
                            onclick="scrollToTop()">
                        Send
                    </button>
                </div>
                <div class="small text-left text-muted pt-2">
                    Email us with any questions or inquiries. We would be happy to answer your questions and set up a meeting with you. Activity Guide is here to help you find the perfect activity for your child. We will try to respond within 24-72 hours.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}