{% extends request.base_template %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-xxl">
    <div class="row gap-4 justify-content-center">
        <div class="d-inline-block d-xl-none">
            {% include 'layout/partials/ads_carousel.html' with ads=ads class='home-banner-wide' location="H" %}
        </div>
        <form class="col-md-3 search-form border px-3 py-3 bg-white round d-flex flex-column justify-content-center"
              hx-target=".main-content"
              hx-trigger="submit"
              hx-push-url="true"
              hx-post="{% url 'layout-search-results' %}">
            <h2 class="text-center orange pb-3">Search Form</h1>
            <div class="align-self-center row row-cols-2 w-100">
                {% for field in search_form %}
                    {{ field|as_crispy_field }}
                {% endfor %}
            </div>
            <button type="submit"
                    class="btn orange-hover w-100 align-self-center mb-3"
                    onclick="scrollToTop()">
                Go!
            </button>
        </form>
        <div class="col-md-8 home-main d-flex flex-column gap-4 no-padding">
            <div class="d-none d-xl-inline-block">
                {% include 'layout/partials/ads_carousel.html' with ads=ads class='home-banner-wide' location="H_ALT" %}
            </div>
            <div class="row order-1">
                <div class="col-md-9 home-carousel pb-4 pb-md-0">
                    <div id="carouselExampleCaptions" class="carousel carousel-dark slide h-100 w-100 carousel-homepage" data-bs-ride="carousel">
                        {% if activities.count <= 10 %}
                            <div class="carousel-indicators">
                                {% for activity in activities %}
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="carousel-inner h-100">
                            {% if activities|length == 0 %}
                                <div class="carousel-item round border-thick-orange fill active"
                                     style="background-image: url('{% static 'layout/image-alt.svg' %}');"
                                     role="button"
                                     data-bs-toggle="modal"
                                     data-bs-target="#modal_global"
                                     hx-get="{% url 'users-login' %}"
                                     hx-trigger="click"
                                     hx-target="#modal_global">
                                <div class="carousel-caption bg-white round border box-shadow-yellow">
                                    <div class="d-flex flex-sm-row flex-column flex-nowrap justify-content-center align-items-center">
                                        <h5 class="orange pt-1">Your activity here!</h5>
                                    </div>
                                    <p>Register as a provider and start posting your own activities!</p>
                                </div>
                            </div>
                            {% endif %}
                            {% for activity in activities %}
                                <a class="carousel-item round border-thick-{{ activity.category.get_color }} fill {% if forloop.first %}active{% endif %}"
                                   style="background-image: url('{{ activity.image_url }}');"
                                   role="button"
                                   href="{% url 'activity-detail' activity.slug %}"
                                   hx-target=".main-content"
                                   hx-trigger="click[window.location.pathname != '{% url "activity-detail" activity.slug %}']"
                                   hx-on::after-request="scrollToTop()"
                                   hx-push-url="true"
                                   hx-get="{% url 'activity-detail' activity.slug %}"
                                   onclick="scrollToTop()">
                                    <div class="carousel-caption bg-white round border {% if activity.is_featured or activity.provider.is_featured %}box-shadow-yellow{% endif %}">
                                        <div class="d-flex flex-column flex-nowrap justify-content-center align-items-center">
                                            <h5 class="{{ activity.category.get_color }} w-100 truncate-2">{{ activity.name }}</h5>
                                        </div>
                                        <hr class="hr mt-0 mb-1" />
                                        <p class="truncate-4 text-start">{{ activity.description|linebreaksbr }}</p>
                                        <div class="w-100 d-flex justify-content-end">
                                            {% include 'activities/partials/featured.html' with activity=activity size=24 %}
                                            <span class="badge bg-{{ activity.category.get_color }} m-1 align-self-center">{{ activity.category.name }}</span>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3 d-flex flex-column gap-4">
                    {% for category in categories %}
                        <div class="home-category-item flex-fill fs-2 fw-bolder round text-center text-nowrap border-thick-{{ category.get_color }} {{ category.get_color }}-hover"
                             role="button"
                             hx-target=".main-content"
                             hx-trigger="click"
                             hx-push-url="true"
                             hx-get="{% url 'category-detail' category.slug %}"
                             onclick="scrollToTop()">
                            {{ category.name }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <hr class="hr my-5" />
    <div id="about-us">
        <h1 class="text-center green">About Us</h1>
        {{ about_us.content|safe }}
    </div>
    <hr class="hr my-5" />
    <div id="contact">
        <h1 class="text-center green">Contact</h1>
        <div class="row">
            <div class="col d-flex flex-column justify-content-start align-items-center pb-4">
                <div class="text-start text-nowrap blue fs-5 fw-bold">
                    Phone
                </div>
                <div class="text-start text-nowrap orange fs-6">
                    (250) 819-4896
                </div>
            </div>
            <div class="col d-flex flex-column justify-content-start align-items-center pb-4">
                <div class="text-start text-nowrap blue fs-5 fw-bold">
                    Email
                </div>
                <div class="text-start text-nowrap orange fs-6">
                    <a class="orange" href="mailto:anke@activityguide.ca">anke@activityguide.ca</a>
                </div>
            </div>
            <div class="col d-flex flex-column justify-content-start align-items-center pb-4">
                <div class="text-start text-nowrap blue fs-5 fw-bold">
                    Stay Connected
                </div>
                <div class="text-start text-nowrap orange fs-6 d-flex flex-row flex-nowrap gap-2">
                    <div class="footer-item">
                        <img src="{% static 'layout/facebook_logo.svg' %}">
                        <a class="orange" target="_blank" href="https://www.facebook.com/activityguide.ca">Facebook</a>
                    </div>
                    <div class="footer-item">
                        <img src="{% static 'layout/instagram_logo.svg' %}">
                        <a class="orange" target="_blank" href="https://www.instagram.com/kamloopsactivityguide">Instagram</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="contact-form" class="row pb-4 gap-0 justify-content-center align-items-center px-2">
            {% include 'layout/contact_form.html' with form=contact_form %}
        </div>
    </div
</div>
{% endblock %}