{% load static %}
<div class="navbar-main container-fluid user-select-none">
    <div class="d-flex flex-row flex-nowrap">
        <div class="col-2 flex-shrink-0 site-logo-mobile-slot">
            <img class="site-logo-mobile"
                 role="button"
                 src="{% static 'layout/main_icon.png' %}"
                 hx-target=".main-content"
                 hx-trigger="click[window.location.pathname != '{% url "layout-home" %}']"
                 hx-on::after-request="scrollToTop()"
                 hx-push-url="true"
                 hx-get="{% url 'layout-home' %}"
                 onclick="scrollToTop()"/>
        </div>
        <div class="col-10 flex-grow-1">
            <div class="row text-center align-items-center">
                <div class="col-sm-5 g-2 d-flex flex-row justify-content-around">
                    <div class="header-item">
                        <div class="rounded orange-hover"
                             role="button"
                             hx-target=".main-content"
                             hx-trigger="click[window.location.pathname != '{% url "layout-home" %}']"
                             hx-on::after-request="scrollToTop()"
                             hx-push-url="true"
                             hx-get="{% url 'layout-home' %}"
                             onclick="scrollToTop()">
                            Home
                        </div>
                    </div>
                    <div class="header-item">
                        <div class="rounded orange-hover"
                             role="button"
                             hx-target=".main-content"
                             hx-trigger="click[window.location.pathname != '{% url "category-home" %}']"
                             hx-on::after-request="scrollToTop()"
                             hx-push-url="true"
                             hx-get="{% url 'category-home' %}"
                             onclick="scrollToTop()">
                            Categories
                        </div>
                    </div>
                    <div class="header-item">
                        <div class="rounded orange-hover"
                             role="button"
                             hx-target=".main-content"
                             hx-trigger="click[window.location.pathname != '{% url "layout-home" %}']"
                             hx-on::after-request="scrollToElementId('about-us')"
                             hx-push-url="true"
                             hx-get="{% url 'layout-home' %}"
                             onclick="scrollToElementId('about-us')">
                            About Us
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 header-logo"><div></div></div>
                <div class="col-sm-5 g-2 d-flex flex-row justify-content-around">
                    <div class="header-item">
                        <div class="rounded orange-hover"
                             role="button"
                             hx-target=".main-content"
                             hx-trigger="click[window.location.pathname != '{% url "layout-home" %}']"
                             hx-on::after-request="scrollToElementId('contact')"
                             hx-push-url="true"
                             hx-get="{% url 'layout-home' %}"
                             onclick="scrollToElementId('contact')">
                            Contact
                        </div>
                    </div>
                    {% if request.user.is_authenticated %}
                        <div class="header-item">
                            <div class="header-item dropdown">
                              <a class="header-item dropdown-toggle text-decoration-none orange" href="#" id="userDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ request.user }}
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="userDropdownMenuLink">
                                <li><a class="dropdown-item user-dropdown orange-hover d-flex align-items-center text-start" 
                                    href="#" 
                                    role="button"
                                    hx-target=".main-content"
                                    hx-trigger="click"
                                    hx-push-url="true"
                                    hx-get="{% url 'users-profile' %}"
                                    onclick="scrollToTop()">
                                        <img src="{% static 'layout/person-badge.svg' %}" width="16" height="16" viewBox="0 0 16 16" class="orange-filter"> &nbsp;Member Dashboard
                                    </a></li>
                                {% if request.user.is_provider %}
                                    <li>
                                        <a class="dropdown-item user-dropdown orange-hover d-flex align-items-center text-start"href="#" 
                                        role="button"
                                        hx-target=".main-content"
                                        hx-trigger="click"
                                        hx-push-url="true"
                                        hx-get="{% url 'member-dashboard' %}">
                                            <img src="{% static 'layout/journal-bookmark.svg' %}" width="16" height="16" viewBox="0 0 16 16" class="orange-filter"> &nbsp;Provider Dashboard
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a class="dropdown-item user-dropdown orange-hover d-flex align-items-center text-start"href="#" 
                                        role="button"
                                        hx-target=".main-content"
                                        hx-trigger="click"
                                        hx-push-url="true"
                                        hx-get="{% url 'member-dashboard' %}">
                                            <img src="{% static 'layout/journal-bookmark.svg' %}" width="16" height="16" viewBox="0 0 16 16" class="orange-filter"> &nbsp;Become a Provider
                                        </a>
                                    </li>
                                {% endif %}
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item user-dropdown red-hover d-flex align-items-center text-start" 
                                    href="#" 
                                    role="button"
                                    hx-target=".main-content"
                                    hx-trigger="click"
                                    hx-push-url="true"
                                    hx-get="{% url 'users-logout' %}"
                                    onclick="scrollToTop()">
                                        <img src="{% static 'layout/box-arrow-left.svg' %}" width="16" height="16" viewBox="0 0 16 16" class="red-filter"> &nbsp;Logout
                                    </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                    {% else %}
                        <div class="header-item">
                            <div class="rounded orange-hover"
                                role="button"
                                hx-target=".main-content"
                                hx-trigger="click"
                                hx-push-url="true"
                                hx-get="{% url 'users-login' %}"
                                onclick="scrollToTop()">
                                Login
                            </div>
                        </div>
                        <div class="header-item">
                            <div class="rounded orange-hover"
                                role="button"
                                hx-target=".main-content"
                                hx-trigger="click"
                                hx-push-url="true"
                                hx-get="{% url 'users-register' %}"
                                onclick="scrollToTop()">
                                Sign Up
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>