{% load static %}
<div class="navbar-main container-fluid user-select-none">
    <div class="d-flex flex-row flex-nowrap">
        <div class="col-2 flex-shrink-0 site-logo-mobile-slot">
            <a role="button"
               hx-target=".main-content"
               hx-trigger="click[window.location.pathname != '{% url "layout-home" %}']"
               hx-on::after-request="scrollToTop()"
               hx-push-url="true"
               hx-get="{% url 'layout-home' %}"
               href="{% url 'layout-home' %}"
               onclick="scrollToTop()">
                <img class="site-logo-mobile" src="{% static 'layout/main_icon.png' %}"/>
            </a>
        </div>
        <div class="col-10 flex-grow-1">
            <div class="row text-center align-items-center">
                <div class="col-sm-5 g-2 d-flex flex-row justify-content-around">
                    <div class="header-item">
                        <a class="rounded orange-hover text-decoration-none p-1"
                             role="button"
                             hx-target=".main-content"
                             hx-trigger="click[window.location.pathname != '{% url "layout-home" %}']"
                             hx-on::after-request="scrollToTop()"
                             hx-push-url="true"
                             hx-get="{% url 'layout-home' %}"
                             href="{% url 'layout-home' %}"
                             onclick="scrollToTop()">
                            Home
                    </a>
                    </div>
                    <div class="header-item">
                        <a class="rounded orange-hover text-decoration-none p-1"
                             role="button"
                             hx-target=".main-content"
                             hx-trigger="click[window.location.pathname != '{% url "category-home" %}']"
                             hx-on::after-request="scrollToTop()"
                             hx-push-url="true"
                             hx-get="{% url 'category-home' %}"
                             href="{% url 'category-home' %}"
                             onclick="scrollToTop()">
                            Categories
                        </a>
                    </div>
                    <div class="header-item">
                        <a class="rounded orange-hover text-decoration-none p-1"
                             role="button"
                             hx-target=".main-content"
                             hx-trigger="click[window.location.pathname != '{% url "layout-home" %}']"
                             hx-on::after-request="scrollToElementId('about-us')"
                             hx-push-url="true"
                             hx-get="{% url 'layout-home' %}"
                             href="{% url 'layout-home' %}#about-us"
                             onclick="scrollToElementId('about-us')">
                            About Us
                        </a>
                    </div>
                </div>
                <div class="col-sm-2 header-logo"><div></div></div>
                <div class="col-sm-5 g-2 d-flex flex-row justify-content-around">
                    <div class="header-item">
                        <a class="rounded orange-hover text-decoration-none p-1"
                             role="button"
                             hx-target=".main-content"
                             hx-trigger="click[window.location.pathname != '{% url "layout-home" %}']"
                             hx-on::after-request="scrollToElementId('contact')"
                             hx-push-url="true"
                             hx-get="{% url 'layout-home' %}"
                             href="{% url 'layout-home' %}#contact"
                             onclick="scrollToElementId('contact')">
                            Contact
                        </a>
                    </div>
                    {% if request.user.is_authenticated %}
                        <div class="header-item">
                            <div class="header-item dropdown d-flex">
                                <div class="align-items-center justify-content-center" style="width: 24px; height: 24px; max-width: 24px">
                                    <img id="profile_image_navbar" src="{{ request.user.profile.image_url }}" width="24" height="24" viewBox="0 0 16 16" class="rounded-circle justify-content-center align-items-center">
                                </div>
                                <div class="header-item dropdown-toggle text-decoration-none orange" href="#" id="userDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                &nbsp;{% if request.user.is_staff %}Admin{% else %}Account{% endif %}
                              </div>
                            <ul class="dropdown-menu" aria-labelledby="userDropdownMenuLink">
                                {% if not request.user.is_staff %}
                                    <li>
                                        <a class="dropdown-item user-dropdown orange-hover d-flex align-items-center text-start" 
                                            href="#" 
                                            role="button"
                                            hx-target=".main-content"
                                            hx-trigger="click"
                                            hx-push-url="true"
                                            hx-get="{% url 'users-profile' %}"
                                            onclick="scrollToTop()">
                                            <img src="{% static 'layout/person-badge.svg' %}" width="16" height="16" viewBox="0 0 16 16" class="orange-filter">
                                            &nbsp;Member Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item user-dropdown orange-hover d-flex align-items-center text-start"href="#" 
                                            role="button"
                                            hx-target=".main-content"
                                            hx-trigger="click"
                                            hx-push-url="true"
                                            hx-get="{% url 'member-dashboard' %}">
                                            <img src="{% static 'layout/card-list.svg' %}" width="16" height="16" viewBox="0 0 16 16" class="orange-filter">
                                            &nbsp;Member Dashboard
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    {% if request.user.provider %}
                                        <li>
                                            <a class="dropdown-item user-dropdown orange-hover d-flex align-items-center text-start"
                                                role="button"
                                                hx-target=".main-content"
                                                hx-trigger="click"
                                                hx-push-url="true"
                                                hx-get="{% url 'provider-profile' request.user.provider.slug %}">
                                                <img src="{% static 'layout/journal.svg' %}" width="16" height="16" viewBox="0 0 16 16" class="orange-filter">
                                                &nbsp;Provider Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item user-dropdown orange-hover d-flex align-items-center text-start text-decoration-none"
                                                role="button"
                                                hx-target=".main-content"
                                                hx-trigger="click"
                                                hx-push-url="true"
                                                hx-get="{% url 'provider-dashboard' %}">
                                                <img src="{% static 'layout/journal-bookmark.svg' %}" width="16" height="16" viewBox="0 0 16 16" class="orange-filter">
                                                &nbsp;Provider Dashboard
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <button class="dropdown-item user-dropdown orange-hover d-flex align-items-center text-start text-decoration-none"
                                                type="button"
                                                data-bs-toggle="modal"
                                                data-bs-target="#modal_global"
                                                hx-get="{% url 'provider-request-form' %}"
                                                hx-trigger="click"
                                                hx-target="#modal_global">
                                                <img src="{% static 'layout/plus.svg' %}" width="16" height="16" viewBox="0 0 16 16" class="orange-filter">
                                                &nbsp;Become a Provider
                                            </button>
                                        </li>
                                    {% endif %}
                                    <li><hr class="dropdown-divider"></li>
                                {% endif %}
                                <li>
                                    <a class="dropdown-item user-dropdown blue-hover d-flex align-items-center text-start" 
                                        href="#" 
                                        role="button"
                                        hx-target=".main-content"
                                        hx-trigger="click"
                                        hx-push-url="true"
                                        hx-get="{% url 'users-logout' %}">
                                        <img src="{% static 'layout/box-arrow-left.svg' %}" width="16" height="16" viewBox="0 0 16 16" class="blue-filter">
                                        &nbsp;Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% else %}
                        <div class="header-item">
                            <div class="rounded orange-hover"
                                role="button"
                                data-bs-toggle="modal"
                                data-bs-target="#modal_global"
                                hx-get="{% url 'users-login' %}"
                                hx-trigger="click"
                                hx-target="#modal_global">
                                Login
                            </div>
                        </div>
                        <div class="header-item">
                            <div class="rounded orange-hover"
                                role="button"
                                data-bs-toggle="modal"
                                data-bs-target="#modal_global"
                                hx-get="{% url 'users-register' %}"
                                hx-trigger="click"
                                hx-target="#modal_global">
                                Sign Up
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
