{% extends request.base_template %}
{% load static %}
{% block content %}

<div class="container d-flex flex-column justify-content-center gap-4">
    <div class="row-sm-3 bg-white round border">
        <div class="row-sm w-100">
            <h1 class="text-start orange pb-3">My Family</h1>
        </div>
        <div id="family_member_list">
            {% include 'members/partials/family_member_list.html' %}
        </div>
    </div>
    <div class="row-sm bg-white round border">
        <div class="row-sm w-100">
            <h1 class="text-start orange">Liked Activities</h1>
            </div>
                {% include "layout/search_box.html" with activities=request.user.member.liked_activities.all %}
            </div>
        </div>
    </div>
</div>
{% endblock%}
