{% extends 'users/base.html' %}
{% block user_form %}
{% load crispy_forms_tags %}
{% load static %}
{% if form %}
    <div hx-get="/"
         hx-trigger="load"
         hx-target=".main-content"
         hx-push-url="true">
    </div>
    <script>
        // open bootstrap modal
        $(document).ready(function () {
            modal.show();
        });
    </script>
{% else %}
    <div class="alert alert-danger user-select-none my-0" role="alert">
        Your password reset link is invalid, please request a new one.
    </div>
{% endif %}
{% endblock %}