{% extends 'users/base.html' %}
{% load static %}
{% block user_form %}
{% load crispy_forms_tags %}
<div class="container" id="user_profile_form">
    <h3 class="orange text-center">User Profile</h3>

    <form method="post"
          id="profile_form"
          class="pb-3">
        {% csrf_token %}
        <fieldset class="form-group">
            <div class="d-flex flex-row justify-content-center">
                {% url 'users-profile-image' as endpoint %}
                {% include 'layout/partials/image_selector.html' with endpoint=endpoint source_image=user.profile.image_url image_size=200 %}
            </div>
            {{ user_form | crispy }}
            {{ profile_form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info orange-hover"
                    type="submit">Save</button>
        </div>
    </form>
</div>


{% endblock %}