<div class="row mb-2 py-2 bg-white round border">
    <div class="col-md-2 d-flex align-items-center justify-content-center">
        <img class="item-row-icon border-{{ activity.category.get_color }} p-01 user-select-none"
            role="button"
            src="{{ activity.image }}"
            hx-target=".main-content"
            hx-trigger="click[window.location.pathname != '{% url "activity-detail" activity.slug %}']"
            hx-on::after-request="scrollToTop()"
            hx-push-url="true"
            hx-get="{% url 'activity-detail' activity.slug %}"
            onclick="scrollToTop()"/> 
    </div>
    <div class="col-md-2 d-flex flex-column align-items-start justify-content-center">
        <span class="fw-bold ms-0 ms-md-1 align-self-md-start align-self-center"
              role="button"
              hx-target=".main-content"
              hx-trigger="click[window.location.pathname != '{% url "activity-detail" activity.slug %}']"
              hx-on::after-request="scrollToTop()"
              hx-push-url="true"
              hx-get="{% url 'activity-detail' activity.slug %}"
              onclick="scrollToTop()">
            {{ activity.name }}
        </span>
        <span class="w-100 category-badge badge bg-{{ activity.category.get_color }} m-1"
              role="button"
              hx-target=".main-content"
              hx-trigger="click[window.location.pathname != '{% url "categories-detail" activity.category.slug %}']"
              hx-on::after-request="scrollToTop()"
              hx-push-url="true"
              hx-get="{% url 'categories-detail' activity.category.slug %}"
              onclick="scrollToTop()">
            {{ activity.category.name }}
        </span>
    </div>
    <div class="col-md-6 d-flex flex-row gap-1">
        <span class="align-top small text-muted two-columns pt-2">
            {{ activity.description }}
        </span>   
    </div>
    <div class="col-md-2 d-flex flex-column justify-content-center align-items-center pt-2 pt-md-0">
        <div class="item-buttons d-flex flex-column gap-1 mb-2 w-100 pt-2">
            <div class="rounded-pill btn border btn-light">
                A
            </div>
            <div class="d-flex flex-row gap-1">
                <div class="rounded-pill btn border btn-light w-50">
                    B
                </div>
                <div class="rounded-pill btn border btn-light btn w-50">
                    C
                </div>
            </div>
        </div>
    </div>
</div>