{% extends request.base_template %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="d-flex flex-lg-row flex-column">
      <div class="me-5 w-100 d-flex justify-content-lg-start justify-content-center pb-2">
        <img class="profile-image-big {{ activity.category.get_color }} user-select-none" role="button" src="{{ activity.image }}" />
      </div>
      <div class="">
        <div class="row mb-2 pb-2">
          <div class="d-md-flex gap-4 bg-white round border profile-description">
            <div class="d-flex w-100 flex-column">
              <div class="w-100 fs-3 align-self-center align-self-md-start d-md-flex flex-row justify-content-center align-items-center text-center">
                <div class="category-badge-large badge bg-{{ activity.category.get_color }} m-1" role="button" hx-target=".main-content" hx-trigger="click[window.location.pathname != '{% url 'category-detail' activity.category.slug %}']" hx-on::after-request="scrollToTop()" hx-push-url="true" hx-get="{% url 'category-detail' activity.category.slug %}" onclick="scrollToTop()">{{ activity.category.name }}</div>
                <div class="flex-grow-1 d-flex justify-content-start {{ activity.category.get_color }}">{{ activity.name }}</div>
                <div class="fs-6 d-flex justify-content-end" role="button" hx-target=".main-content" hx-trigger="click[window.location.pathname != '{% url 'provider-profile' activity.provider.slug %}']" hx-on::after-request="scrollToTop()" hx-push-url="true" hx-get="{% url 'provider-profile' activity.provider.slug %}" onclick="scrollToTop()">
                  By&nbsp;<span class="fw-bold orange">{{ activity.provider.name }}</span>
                </div>
              </div>
              <hr class="hr mt-0 mb-1" />
              <div class="d-flex flex-column justify-content-between h-100">
                <div class="two-columns">
                  {{ activity.description }}
                  {% lorem 2 b random %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="hr mt-0 mb-1" />
        <div class="d-flex mb-2 py-2">
          <div class="d-flex flex-xl-row flex-column">
            <div class="mx-2 flex-grow-1">
              <div class="row row-cols-2 row-cols-sm-3 row-cols-xl-4">
                {% include "activities/partials/activity_fields.html" with activity=activity %}
              </div>
            </div>
            <div class="mx-2">
                {% include "activities/partials/activity_interaction.html" with activity=activity %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
