{% extends request.base_template %}
{% load static %}
{% block content %}
<div class="container">
    <div class="d-flex flex-lg-row flex-column">
        <div class="me-5 w-100 d-flex justify-content-lg-start justify-content-center pb-2">
            {% url 'activity-image-update' activity.slug as endpoint %}
            {% include 'layout/partials/image_selector.html' with endpoint=endpoint slug=activity.slug source_image=activity.image_url class="-big" size="rem20" %}
        </div>
        <div class="">
            <div class="row mb-2 pb-2">
                <div class="d-md-flex gap-4 bg-white round border profile-description">
                    <div class="d-flex w-100 flex-column">
                        <div
                            class="w-100 fs-3 align-self-center align-self-md-start d-md-flex flex-row justify-content-center align-items-center text-center">
                            <div class="badge bg-{{ activity.category.get_color }} m-1" role="button"
                                hx-target=".main-content"
                                hx-trigger="click[window.location.pathname != '{% url 'category-detail' activity.category.slug %}']"
                                hx-on::after-request="scrollToTop()" hx-push-url="true"
                                hx-get="{% url 'category-detail' activity.category.slug %}" onclick="scrollToTop()">
                                {{ activity.category.name }}</div>
                            <div class="flex-grow-1 d-flex justify-content-start {{ activity.category.get_color }}">
                                {{activity.name }}
                            </div>
                            <div class="fs-6 d-flex flex-row justify-content-end" role="button" hx-target=".main-content"
                                hx-trigger="click[window.location.pathname != '{% url 'activity-detail' activity.slug %}']"
                                hx-on::after-request="scrollToTop()" hx-push-url="true"
                                hx-get="{% url 'activity-detail' activity.slug %}" onclick="scrollToTop()">
                                <img class="orange-filter" src="{% static 'layout/box-arrow-left.svg' %}" />
                                <span class="fw-bold orange">&nbsp;Exit edit mode</span>
                            </div>
                        </div>
                        <hr class="hr mt-0 mb-1" />
                        <div class="d-flex flex-column justify-content-between h-100">
                            <div id="provider-description-form-container">
                                {% include 'layout/partials/field_edit.html' with model='activity' item=activity form=activity.get_description_form %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="hr mt-0 mb-1" />
            <div class="d-flex mb-2 py-2">
                <div class="d-flex flex-xl-row flex-column">
                    {% include 'activities/partials/line_item_fields.html' with activity=activity edit=1 %}
                </div>
            </div>
        </div>
    </div>
    <hr class="hr mt-0 mb-4" />
    <div class="row-sm w-100">
        <h1 class="text-start orange pb-3">Participants</h1>
    </div>
    <div hx-get="{% url 'activity-provider-edit-list' %}"
         hx-trigger="reload-activity-list from:body">
        {% include "activities/partials/participants_search_box.html" with family_members=activity.family_members.all %}
    </div>
</div>
{% endblock %}