{% extends request.base_template %}
{% load static %}
{% block content %}
<div class="container">
    <div class="d-flex gap-0 gap-xxl-4 flex-xxl-row flex-column">
        <div class="col-xxl-9 order-2">
            {% include 'layout/search_box.html' with items=providers model='provider' title=category.name|add:" Providers" next_page=next_page %}
        </div>
        <div class="col-xxl order-1 order-xxl-3">
            {% include 'layout/partials/ads_carousel.html' with ads=ads class='category-detail-ad' %}
        </div>
    </div>
</div>
{% endblock %}