{% extends request.base_template %}
{% load static %}
{% block content %}
<div class="container">
    <div class="d-flex gap-0 gap-xl-4 flex-xl-row flex-column">
        <div class="col-xl-9 order-2">
            {% include 'layout/search_box.html' with items=providers model='provider' title=category.name|add:" Providers" next_page=next_page %}
        </div>
        <div class="col-xl order-1 order-xl-3 mb-4">
            {% include 'layout/partials/ads_carousel.html' with ads=ads class='category-detail-banner' location="category_detail" %}
        </div>
    </div>
</div>
{% endblock %}