{% extends request.base_template %}
{% block content %}
<div class="container">
    <div class="row gap-0">
        <div class="col-md-3 pt-4">
            <div class="categories-ad border round bg-white">
                Ad up to 3
            </div>
        </div>
        <div class="col-md-6 pt-4">
            <div class="categories-ad border round bg-white">
                Banner Ad
            </div>
        </div>
        <div class="col-md-3 pt-4">
            <div class="categories-ad border round bg-white">
                Small Rectangle Ad
            </div>
        </div>
    </div>
    <div class="row gap-0">
        {% for category in categories %}
            <div class="col-md-4 pt-4"
                 role="button"
                 hx-target=".main-content"
                 hx-trigger="click[window.location.pathname != '{% url "categories-detail" category.slug %}']"
                 hx-on::after-request="scrollToTop()"
                 hx-push-url="true"
                 hx-get="{% url 'categories-detail' category.slug %}"
                 onclick="scrollToTop()">
                <div class="categories-item">
                    <div class="categories-item-title bg-white border round">
                        <h3>{{ category.name }}</h3>
                    </div>
                    <div class="categories-item-text pt-3">
                        <p>{{ category.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}