{% extends request.base_template %}
{% block content %}
<div class="container">
    <div class="row gap-0">
        <div class="col-md-3 pt-4">
            <div class="categories-ad border round bg-white">
                Ad up to 3
            </div>
        </div>
        <div class="col-md-6 pt-4">
            <div class="categories-ad border round bg-white">
                Banner Ad
            </div>
        </div>
        <div class="col-md-3 pt-4">
            <div class="categories-ad border round bg-white">
                Small Rectangle Ad
            </div>
        </div>
    </div>
    <div class="row gap-0">
        <div class="col-md-4 pt-4">
            <div class="categories-item">
                <div class="categories-item-title border rounded">
                    <h3>Sport</h3>
                </div>
                <div class="categories-item-text pt-3">
                    <p><b>Hockey</b> is a fast team sport played with sticks and a puck (or ball). Teams aim to score by getting the puck into the opponent's goal.</p>
                    <p><b>Soccer</b>, or football, is a global sport played between two teams of 11 players. The objective is to score goals by kicking a ball into the opponent's net without using hands.</p>
                    <p><b>Dance</b> is a diverse art form involving rhythmic body movements and expressions. It encompasses various styles, from traditional cultural dances to modern choreography, serving as a form of artistic expression, entertainment, and social interaction.</p>
                    <p><b>Baseball</b> is a bat-and-ball sport played between two teams. Teams take turns batting and fielding, aiming to score runs by hitting a pitched ball and running around bases in a diamond-shaped field.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pt-4">
            <div class="categories-item">
                <div class="categories-item-title border rounded">
                    <h3>Sport</h3>
                </div>
                <div class="categories-item-text pt-3">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pt-4">
            <div class="categories-item">
                <div class="categories-item-title border rounded">
                    <h3>Sport</h3>
                </div>
                <div class="categories-item-text pt-3">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-2 py-1">
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap shadow-sm">
                Hockey
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap shadow-sm">
                Soccer
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap shadow-sm">
                Art Classes
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap shadow-sm">
                Theatre
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap shadow-sm">
                Coding
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap shadow-sm">
                Subcategory
            </div>
        </div>
    </div>
    <div class="row g-2 py-1">
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap shadow-sm">
                Dance
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap shadow-sm">
                Baseball
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap shadow-sm">
                Subcategory
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap shadow-sm">
                Subcategory
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap shadow-sm">
                Subcategory
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pt-5 pb-5 border blue-hover rounded text-center text-nowrap shadow-sm">
                Subcategory
            </div>
        </div>
    </div>
</div>
{% endblock %}